
@model Person
@if (Model != null)
{


<div class="row">
    <!--FirstName-->
    <div class="col-3">
       <p>@Model.FirstName</p>

    </div>
    <!--LastName-->
    <div class="col-3">
        <p>@Model.LastName</p>
    </div>
    <!--City-->
    <div class="col-2">
        <p>@(Model.InCity != null ? Model.InCity.CityName : "No City")</p>

    </div>
    <!--PhoneNumber-->
    <div class="col-2">
        <p>@Model.PhoneNumber</p>
    </div>
    <!--Action-->
    <!--Just small change-->
    <div class="col-2">

        <a asp-action="Delete" asp-controller="IPeople" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Edit" asp-controller="IPeople" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        
    </div>
</div> 
 }
           