@model PeopleViewModel
@{
    ViewData["Title"] = "Person Index";
}

<h1>Index</h1>

<h2>List of people</h2>
@if (Model != null && Model.PersonL != null)
{



}

<!--Table-->
<div class="row">
    <div class="col-12">
        <!--Head-->
        <div class="row">
            <!--FirstName-->
            <div class="col-3">
                <h5>FirstName</h5>
            </div>
            <!--LastName-->
            <div class="col-3">
                <h5>LastName</h5>
            </div>
            <!--City-->
            <div class="col-2">
                <h5>City</h5>
            </div>
            <!--Head-->
            <div class="col-2">
                <h5>PhoneNumber</h5>
            </div>
            <!--Head-->
            <div class="col-2">
                <h5>Action</h5>
            </div>

        </div>
        <!--body-->
        @foreach (Person person in Model.PersonL)
        {
            <partial name="_PersonRorPartialView" model="person" />
        }
    </div>
</div>
<!--<div class="row">-->
<!--FirstName-->
<!--<div class="col-3">
   @*  <p>@person.FirstName</p>

</div>-->
    <!--LastName-->
    <!--<div class="col-3">
               <p>@person.LastName</p>
            </div>-->
            <!--City-->
            <!--<div class="col-2">
                <p>@person.City</p>
            </div>-->
            <!--PhoneNumber-->
            <!--<div class="col-2">
                <p>@person.PhoneNumber</p>
            </div>-->
            <!--Action-->
            <!--Just small change-->
            <!--<div class="col-2">

                    <a asp-action="Delete" asp-controller="IPeople" asp-route-id="@person.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Update" asp-controller="IPeople" asp-route-id="@person.Id" class="btn btn-info">Edit</a>

                </div>
            </div>-->*@




<!--end-->
<h2>Search</h2>
<form asp-action="Index" asp-controller="IPeople" method="post">
    <label asp-for="@Model.SearchFilter"></label>
    <input type="text" asp-for="@Model.SearchFilter" />
    <button>Search</button>
</form>


<h2>Createperson</h2>
<form asp-action="Create" asp-controller="IPeople" method="post">
    <label asp-for="createPerson.FirstName"></label>
    <input asp-for="createPerson.FirstName" />
    <span asp-validation-for="createPerson.FirstName"></span>

    <label asp-for="createPerson.LastName"></label>
    <input asp-for="createPerson.LastName" />
    <span asp-validation-for="createPerson.LastName"></span>

    <label asp-for="createPerson.CityId"></label>
    <input asp-for="createPerson.CityId" />
    <span asp-validation-for="createPerson.CityId"></span>

    <label asp-for="createPerson.PhoneNumber"></label>
    <input asp-for="createPerson.PhoneNumber" />
    <span asp-validation-for="createPerson.PhoneNumber"></span>

    <button type="reset">Reset</button>
    <button>Create</button>
</form>

